*{
	margin: 0px;
	padding: 0px;
	
}
	

.containt{
	background-color: lightgray;
	font-family: sans-serif;
	width: 900px;
	margin: auto;
	padding: 10px;
}

.wrap {
	width: 800px;
	height: 750px;
	background-color: white;
	margin: auto;
	border: 1px solid black;
}

.mahi {
	
	margin: 15px;}

header {
	height: 120px;
	
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 36px;
	color: green;
}

h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 27px;
	color: green;
}
p{
	word-spacing: 1px;
}

#nav {
	height: 80px;
}
#nav ul {
	list-style-type: none;
}

#nav li {
	float: left;
	text-align: center;
	width: 170px;
	height: 20px;
	padding: 5px;
	margin: 5px;
	color: white;
	background-color: grey;
}
#nav #Stylesheet3 {
	background-color: green;
}

#nav a {
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#nav li:hover, #nav #Stylesheet3:hover {
	background-color: lightgrey;
}

#Stylesheet3 {
	background-color: green;
}
#body a:hover {
	color: lightgreen;
}

#side-bar{
	padding: 15px;
	margin: 15px 0px;
	height: 100px;
	border: 1px solid grey;
	background-color: lightgrey;
}
#side-bar h2 {
	margin: 0px;
	font-size: 22px;
}
footer p {
	font-size: 11px;
	text-align: center;
}